<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test name="Test"  preserve-order="true">
    <classes>
     <class name="com.Tests.RegistrationTests">
  <!--        <methods>
        <include name="Registration_successfull_withallvalidvalues" />
        
      </methods> --> 
      
      </class>
      <class name="com.Tests.LoginTests">
      <!-- <methods>
        <include name="VerifyLogin_rememberme" />
        
      </methods> -->
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
